.react-tabs__tab--selected {
  background-color: white;
  border: none;
  border-radius: 0.7rem;
  color: #2e2e2e;
  font-weight: 700;
  border-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.react-tabs__tab {
  padding: 0.3rem 2.8rem;
}

.react-tabs__tab:focus:after {
  background-color: transparent;
}
